* {
    box-sizing: border-box;
    color: #fff;
}

body {
    font-family: Helvetica;
}



.absolute {
    position: absolute;
}
.game {
    width: 800px;
    height: 600px;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
}
.cow_target_container {
    width: 100px;
    height: 100px;
    z-index: 5;
}

.cow_target{
    height: 114px;
    width: 100px;
    background-image: url("../img/cow-100px.png");
    background-repeat: no-repeat;
    z-index: 10;
}
.parachute_target{
    height: 78px;
    width: 100px;
    background-image: url("../img/parachute-100px.png");
}
/*Game main page*/
.game_title,
.game_instruction,
.game_pause,
.game_over {
    width: 100%;
    height: 100%;
    background-image: url("../img/spacecow.png");
    position: absolute;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.game_title {
    display: block;
}
.start_buttons {
    display: block;
    width: 250px;
    position: relative;
    left: 500px;
}

.buttons {
    display: block;
    /*width: 200px;*/
    /*margin: 15px 500px;*/
    text-align: center;
    line-height: 50px;
    border: 3px solid #fff;
}
.game_title a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
}
.game_title a:hover {
    background-color: #fff;
    color: #000000;
}
/*=================*/

/*Instruction page*/

.game_instruction {
    display: none;
}
.instruction {
    width: 100%;
    height: 100%;
    padding: 50px 100px;
}
.instruction_item {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.go_to_start,
.game_pause a,
.game_over a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    transition: .3s;
}
.go_to_start:hover,
.game_over a:hover{
    background-color: #fff;
    color: #000000;
}

/*Pause page*/
.game_pause {
    display: none;
    background-color: rgba(0, 213, 158, 0.63);
    z-index: 10;
}
.game_pause a:hover {
    background-color: #fff;
    color: #00d59e;
}

/*Play area*/
.top_nav {
    width: 100%;
    height: 60px;
    top: -1px; /* overlap top of game area by 1 pixel to stop cow showing through. */
}
.ufo {
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 0;
}
.play_area {
    width: 100%;
    height: 100%;
    display: none;
    overflow: hidden;
}
.statistic {
    width: 140px;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    z-index: 15;
}
.statistic p {
    display: inline-block;
    margin: 0;
    line-height: 60px;
}
.pause_button {
    text-decoration: none;
    transition: .3s;
}
.pause_button:hover {
    color: #00d59e;
}
.barn{
    position: absolute;
    bottom: -5px;
    right: -70px;
    width: 230px;
    z-index: 15;
}
/*Bottom*/
.bottom {
    width: 100%;
    height: 100px;
    bottom: 0;
}
.score {
    width: 140px;
    height: 100px;
    right: 0;
    z-index: 20;
}
.score p {
    position: absolute;
    right: 15px;
    top: 20px;
    margin: 0;
    line-height: 100px;
}
.fire, .spikes {
    position: absolute;
    z-index: 30;
    bottom: 0;
    background-image: url('../img/fire.gif');
    background-size: 70px auto;
    background-repeat: repeat-x;
    width: 630px;
    height: 100px;
}

.spikes {
    top: 30px;
}

.game_over {
    display: none;
}
h1 {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 10px;
}
.game_over h1 {
    font-size: 8rem;
    margin: 50px;
}