* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'silkscreennormal', Arial, sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
}

@font-face {
    font-family: 'silkscreennormal';
    src: url('slkscr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
}

.absolute {
    position: absolute;
}

.game {
    width: 800px;
    height: 600px;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
}

.start_buttons h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 6rem;
    text-align: right;
    padding: 0 50px;
}

.cow_target_container {
    width: 100px;
    height: 192px;
    z-index: 5;
}

.cow_target {
    height: 114px;
    width: 100px;
    background-image: url("../img/cow-100px.png");
    background-repeat: no-repeat;
    z-index: 10;
}

.parachute_target {
    height: 78px;
    width: 100px;
    background-image: url("../img/parachute-100px.png");
}

.game_title,
.game_instructions,
.game_pause,
.game_over {
    width: 100%;
    height: 100%;
    background-image: url("../img/spacecow.png");
    position: absolute;
    font-weight: 700;
    font-size: 1.5rem;
}

.resume_buttons_container {
    margin-top: 250px;
}

.buttons {
    display: block;
    width: 250px;
    position: relative;
    text-align: center;
    line-height: 50px;
    border: 3px solid rgba(255, 255, 255, 1);
    border-radius: 5px;
    background-color: rgba(255, 0, 0, .7);
    letter-spacing: 1px;
    font-size: 2.5rem;
    left: 500px;
}

.buttons a:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(255, 0, 0, 1);
}

.game_title a,
.game_pause a,
.instructions p a,
.play_area a,
.game_over a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
}

/*=================*/

/*Instruction page*/
.game_instructions {
    display: none;
}

.instructions_text {
    width: 700px;
    height: 500px;
    margin: 50px;
    padding: 30px 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    color: rgba(115, 108, 108, 1);
    line-height: 1.6rem;
    overflow: scroll;
}

.instructions_text h1 {
    margin: 35px 0;
}

.instructions_text .buttons {
    margin: 0 auto;
    left: auto;
    border: 3px solid rgba(255, 0, 0, 0.9);
    background-color: transparent;
}

.instructions_title {
    color: rgba(255, 0, 0, 1);
    text-align: center;
    font-size: 4rem;
}

.instructions_item {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.7rem;
    line-height: 2.5rem;
    text-align: justify;
    text-indent: 20px;
    font-weight: bold;
}

.instructions a {
    color: rgba(255, 0, 0, 1);
    text-decoration: none;
}

.instructions a:hover {
    background-color: rgba(255, 0, 0, 0.9);
    color: rgba(255, 255, 255, 1);
}

.instructions h5 {
    text-align: center;
}

/*Game play page (play area)*/
.top_nav {
    width: 100%;
    height: 60px;
    top: 0;
}

.ufo {
    position: absolute;
    z-index: 10;
    background-size: 110px auto;
    background-repeat: repeat-x;
    width: 660px;
    height: 100px;
    background-image: url('../img/ufo.gif');
    top: 0;
}

.ufo_beam {
    display: block;
    position: absolute;
    z-index: 4;
    background-image: url('../img/ufo-beam.png');
    background-size: 110px 500px;
    background-repeat: repeat-x;
    width: 660px;
    height: 500px;
    top: 75px;
}

.play_area {
    width: 100%;
    height: 100%;
    display: none;
    overflow: hidden;
}

.statistic {
    width: 140px;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    z-index: 15;
}

.statistic p {
    display: inline-block;
    margin: 0;
    line-height: 60px;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 1);
}

.pause_button {
    text-decoration: none;
    transition: .3s;
    color: rgba(255, 0, 0, 1);
}

.pause_button:hover {
    color: #ff8978;
}

.barn {
    position: absolute;
    bottom: -10px;
    right: -70px;
    width: 230px;
    z-index: 15;
}

/*Bottom*/

.bottom {
    width: 100%;
    height: 100px;
    bottom: 0;
}

.score {
    width: 140px;
    height: 100px;
    right: 0;
    z-index: 20;
}

.score p {
    position: absolute;
    right: 25px;
    top: -60px;
    margin: 0;
    font-size: 3.5rem;
    line-height: 100px;
}

.fire,
.spikes {
    position: absolute;
    z-index: 30;
    bottom: 0;
    width: 630px;
    height: 100px;
}

.fire {
    background-image: url('../img/fire.gif');
    background-size: 70px auto;
    background-repeat: repeat-x;
}

.spikes {
    top: 60px;
}

.game_over {
    display: none;
}

.game_over h1 {
    font-size: 8rem;
}